APP_NAME=skeleton
APP_ENV=dev
APP_URL=#项目地址
FILE_URL=#文件地址

# 数据库配置
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

# redis配置
REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

# oauth配置
OAUTH_PRIVATE_KEY_PATH=#私钥路径
OAUTH_PUBLIC_KEY_PATH=#公钥路径
OAUTH_ENCRYPTION_KEY=#随机加密秘钥

# 阿里云配置
ALIBABA_CLOUD_ACCESS_KEY_ID=#阿里云ram用户远程调用accesskey_id
ALIBABA_CLOUD_ACCESS_KEY_SECRET=#阿里云ram用户远程调用accesskey_secret

# 阿里云市场ocr身份证识别
ALI_MARKET_OCR_IDCARD_APP_KEY=#阿里云市场ocr身份证识别app_key
ALI_MARKET_OCR_IDCARD_APP_CODE=#阿里云市场ocr身份证识别app_code
ALI_MARKET_OCR_IDCARD_APP_SECRET=#阿里云市场ocr身份证识别app_secret